<div class="shadow-none Line">
    <label>监控点:</label>
    <div class="list-group shadow-none" id="_plugin_ctrl_list">
        <!--<a href="javascript:void(0);" class="list-group-item active"><i class="fa fa-inbox mr-2"></i>监控点一</a>
        <a href="javascript:void(0);" class="list-group-item"><i class="fa fa-star-o mr-2"></i>监控点二</a>
        <a href="javascript:void(0);" class="list-group-item"><i class="fa fa-file-text-o mr-2"></i>监控点三</a>-->
    </div>
    <input type="hidden" id="DevchannelID" value=""/>
</div>
