<!--favicon-->
<link rel="icon" th:href="@{/assets/images/favicon.ico}" type="image/x-icon">
<!--Select Plugins-->
<link data-th-href="@{/assets/plugins/select2/css/select2.min.css}" rel="stylesheet" type="text/css"/>
<!--inputtags-->
<link data-th-href="@{/assets/plugins/inputtags/css/bootstrap-tagsinput.css}" rel="stylesheet" type="text/css"/>
<!--multi select-->
<link data-th-href="@{/assets/plugins/jquery-multi-select/multi-select.css}" rel="stylesheet" type="text/css">
<!--Bootstrap Datepicker-->
<link data-th-href="@{/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet" type="text/css">
<!--Touchspin-->
<link data-th-href="@{/assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.css}" rel="stylesheet" type="text/css">
<!-- simplebar CSS-->
<link data-th-href="@{/assets/plugins/simplebar/css/simplebar.css}" rel="stylesheet" type="text/css"/>
<!-- Bootstrap core CSS-->
<link data-th-href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
<!-- animate CSS-->
<link data-th-href="@{/assets/css/animate.css}" rel="stylesheet" type="text/css"/>
<!-- Icons CSS-->
<link data-th-href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css"/>
<!-- Sidebar CSS-->
<link data-th-href="@{/assets/css/sidebar-menu.css}" rel="stylesheet" type="text/css"/>
<!-- Custom Style-->
<link data-th-href="@{/assets/css/app-style.css}" rel="stylesheet" type="text/css"/>
<!-- 2019/7/9-->
<link data-th-href="@{/assets/css/style.css}" rel="stylesheet" type="text/css"/>