<!-- Bootstrap core JavaScript-->
<script data-th-src="@{/assets/js/jquery.min.js}"></script>

<script data-th-src="@{/assets/js/json2.js}"></script>
<script data-th-src="@{/assets/js/jquery.jqGrid.min.js}"></script>
<script data-th-src="@{/assets/js/msgbox.js}"></script>
<script data-th-src="@{/assets/js/nprogress.js}"></script>


<script data-th-src="@{/assets/common/comscript.js}"></script>
<script data-th-src="@{/assets/common/zh_lang.js}"></script>
<script data-th-src="@{/assets/common/utils.js}"></script>

<script data-th-src="@{/assets/js/popper.min.js}"></script>
<script data-th-src="@{/assets/js/bootstrap.min.js}"></script>

<script data-th-src="@{/assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.js}"></script>
<script data-th-src="@{/assets/plugins/bootstrap-touchspin/js/bootstrap-touchspin-script.js}"></script>

<script data-th-src="@{/assets/plugins/ion-rangeslider/js/ion.rangeSlider.min.js}"></script>
<script data-th-src="@{/assets/plugins/ion-rangeslider/js/range-slider-script.js}"></script>

<!--控件加载Begin-->
<script data-th-src="@{/assets/common/plugin.js}"></script>
<script data-th-src="@{/assets/common/sdkviewer.js}"></script>
<!--控件加载End-->

<script data-th-src="@{/assets/js/bootstrap-notify.min.js}"></script>
<script data-th-src="@{/assets/js/common.js}"></script>

