<!-- Bootstrap core JavaScript-->
<script data-th-src="@{/assets/js/jquery.min.js}"></script>
<script data-th-src="@{/assets/js/popper.min.js}"></script>
<script data-th-src="@{/assets/js/bootstrap.min.js}"></script>
<!-- simplebar js -->
<script data-th-src="@{/assets/plugins/simplebar/js/simplebar.js}"></script>
<!-- sidebar-menu js -->
<script data-th-src="@{/assets/js/sidebar-menu.js}"></script>
<!-- Custom scripts -->
<script data-th-src="@{/assets/js/app-script.js}"></script>
<script data-th-src="@{/assets/js/political_WeCall.js}"></script>
<!--Data Tables js-->
<script data-th-src="@{/assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js}"></script>
<script data-th-src="@{/assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js}"></script>
<script data-th-src="@{/assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js}"></script>