<!-- 监控设备信息配置-编辑 Modal -->
<div class="modal fade" id="_plugin_modal_video_info_edit">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">监控设备信息配置-编辑</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">设备类型:</label>
					<div class="col-sm-10 input-group-sm">
						<select class="form-control single-select">
							<option>硬盘录像机</option>
							<option>监控球机</option>
							<option>监控枪机</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">设备名称:</label>
					<div class="col-sm-10 input-group-sm">
						<input type="text" class="form-control" placeholder="">
					</div>
				</div>
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">IP地址:</label>
					<div class="col-sm-10 input-group-sm">
						<input type="text" class="form-control" placeholder="">
					</div>
				</div>
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">通信端口:</label>
					<div class="col-sm-10 input-group-sm">
						<input type="text" class="form-control" placeholder="">
					</div>
				</div>
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">登录ID:</label>
					<div class="col-sm-10 input-group-sm">
						<input type="text" class="form-control" placeholder="">
					</div>
				</div>
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">登录密码:</label>
					<div class="col-sm-10 input-group-sm">
						<input type="text" class="form-control" placeholder="">
					</div>
				</div>
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">设备通道:</label>
					<div class="col-sm-10 input-group-sm">
						<input type="text" class="form-control" placeholder="">
					</div>
				</div>
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">最多支持通道:</label>
					<div class="col-sm-10 input-group-sm">
						<input type="text" class="form-control" placeholder="">
					</div>
				</div>
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">备注:</label>
					<div class="col-sm-10 input-group-sm">
						<textarea class="form-control" rows="2"></textarea>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm" data-dismiss="modal"><i class="fa fa-times"></i> 取消</button>
				<button type="button" class="btn btn-sm btny"><i class="fa fa-check-square-o"></i> 保存</button>
			</div>
		</div>
	</div>
</div>

<!-- 监控设备信息配置-新增 Modal -->
<div class="modal fade" id="_plugin_modal_video_info_add">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">监控设备信息配置-新增</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">设备类型:</label>
					<div class="col-sm-10 input-group-sm">
						<select class="form-control single-select" id="_plugin_modal_video_info_add_type">
							<option value="2">硬盘录像机</option>
							<option value="3">监控球机</option>
							<option value="4">监控枪机</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">设备名称:</label>
					<div class="col-sm-10 input-group-sm">
						<input type="text" class="form-control" placeholder="" id="_plugin_modal_video_info_add_name">
					</div>
				</div>
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">在线状态:</label>
					<div class="col-sm-10 input-group-sm">
						<input type="text" class="form-control" placeholder="" id="_plugin_modal_video_info_add_status">
					</div>
				</div>
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">工作模式:</label>
					<div class="col-sm-10 input-group-sm">
						<input type="text" class="form-control" placeholder="" id="_plugin_modal_video_info_add_workModel">
					</div>
				</div>
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">IP地址:</label>
					<div class="col-sm-10 input-group-sm">
						<input type="text" class="form-control" placeholder="" id="_plugin_modal_video_info_add_ip">
					</div>
				</div>
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">通信端口:</label>
					<div class="col-sm-10 input-group-sm">
						<input type="text" class="form-control" placeholder="" id="_plugin_modal_video_info_add_port">
					</div>
				</div>
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">登录ID:</label>
					<div class="col-sm-10 input-group-sm">
						<input type="text" class="form-control" placeholder="" id="_plugin_modal_video_info_add_loginName">
					</div>
				</div>
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">登录密码:</label>
					<div class="col-sm-10 input-group-sm">
						<input type="text" class="form-control" placeholder="" id="_plugin_modal_video_info_add_loginPwd">
					</div>
				</div>
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">设备通道:</label>
					<div class="col-sm-10 input-group-sm">
						<input type="text" class="form-control" placeholder="" id="_plugin_modal_video_info_add_channelId">
					</div>
				</div>
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">最多支持通道:</label>
					<div class="col-sm-10 input-group-sm">
						<input type="text" class="form-control" placeholder="" id="_plugin_modal_video_info_add_channelSum">
					</div>
				</div>
				<div class="form-group row">
					<label  class="col-sm-2 col-form-label text-right">备注:</label>
					<div class="col-sm-10 input-group-sm">
						<textarea class="form-control" rows="2" id="_plugin_modal_video_info_add_mess"></textarea>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm" data-dismiss="modal"><i class="fa fa-times"></i> 取消</button>
				<button type="button" class="btn btn-sm btny" id="_plugin_modal_video_info_btn_add"><i class="fa fa-check-square-o"></i> 保存</button>
			</div>
		</div>
	</div>
</div>