<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>设备状态</title>
    <!--favicon-->
    <link rel="icon" th:href="@{/assets/images/favicon.ico}" type="image/x-icon">
    <!--Select Plugins-->
    <link data-th-href="@{/assets/plugins/select2/css/select2.min.css}" rel="stylesheet" type="text/css"/>
    <!--inputtags-->
    <link data-th-href="@{/assets/plugins/inputtags/css/bootstrap-tagsinput.css}" rel="stylesheet" type="text/css"/>
    <!--multi select-->
    <link data-th-href="@{/assets/plugins/jquery-multi-select/multi-select.css}" rel="stylesheet" type="text/css">
    <!--Bootstrap Datepicker-->
    <link data-th-href="@{/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet" type="text/css">
    <!--Touchspin-->
    <link data-th-href="@{/assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.css}" rel="stylesheet" type="text/css">
    <!-- simplebar CSS-->
    <link data-th-href="@{/assets/plugins/simplebar/css/simplebar.css}" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap core CSS-->
    <link data-th-href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <!-- animate CSS-->
    <link data-th-href="@{/assets/css/animate.css}" rel="stylesheet" type="text/css"/>
    <!-- Icons CSS-->
    <link data-th-href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css"/>
    <!-- Sidebar CSS-->
    <link data-th-href="@{/assets/css/sidebar-menu.css}" rel="stylesheet" type="text/css"/>
    <!-- Custom Style-->
    <link data-th-href="@{/assets/css/app-style.css}" rel="stylesheet" type="text/css"/>
    <!-- 2019/7/9-->
    <link data-th-href="@{/assets/css/style.css}" rel="stylesheet" type="text/css"/>

    <!--Data Tables -->
    <link data-th-href="@{/assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css">
    <link data-th-href="@{/assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css">
    <style type="text/css">
        .row{
            margin:0;
        }
        .card-body{
            padding: 0rem;
        }
    </style>
</head>
<body>


  <!-- Start wrapper-->
  <div id="wrapper">

     <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header"><i class="fa fa-table"></i> 站点设备状态</div>
            <div class="card-body">
              <div class="table-responsive">
              <table id="example" class="table table-bordered">
                <thead>
                    <tr>
                        <th>设备名称</th>
                        <th>在线状态</th>
                        <th>工作模式</th>
                        <th>IP地址</th>
                        <th>通信端口</th>
                        <th>类别</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>宇视1号球机</td>
                        <td>在线</td>
                        <td>录像中</td>
                        <td>192.168.1.12</td>
                        <td>80</td>
                        <td>室内监控球机</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
	
<!-- Bootstrap core JavaScript-->
<script data-th-src="@{/assets/js/jquery.min.js}"></script>
<script data-th-src="@{/assets/js/popper.min.js}"></script>
<script data-th-src="@{/assets/js/bootstrap.min.js}"></script>
<!-- simplebar js -->
<script data-th-src="@{/assets/plugins/simplebar/js/simplebar.js}"></script>
<!-- sidebar-menu js -->
<script data-th-src="@{/assets/js/sidebar-menu.js}"></script>
<!-- Custom scripts -->
<script data-th-src="@{/assets/js/app-script.js}"></script>
<script data-th-src="@{/assets/js/political_WeCall.js}"></script>
<!--Data Tables js-->
<script data-th-src="@{/assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js}"></script>
<script data-th-src="@{/assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js}"></script>
<script data-th-src="@{/assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js}"></script>

<script>
$(document).ready(function() {
	// $('#default-datatable').DataTable();
	var table = $('#example').DataTable( {
		lengthChange: false,
		bFilter: false, //搜索栏 
	});
	table.buttons().container().appendTo( '#example_wrapper .col-md-6:eq(0)');
});
   
function listDevice() {
	var reqParam = {};
  	$.ajax({
    	type: "post",
    	contentType: "application/json;charset=UTF-8",
    	url: "/smart-house/device/list",
    	data: JSON.stringify(reqParam),
    	dataType: "json",
    	success: function (r) {
      		if (r.code === 0) {
        		handleListRender(r.msg.list);
			} else {
		        alert(r.msg);
		    }
    	},
    	error: function (XMLhttpRequest, textStatus, errorThrown) {
      		alert(XMLhttpRequest.readyState+","+XMLhttpRequest.status+","+XMLhttpRequest.statusText+","+textStatus+","+errorThrown);
    	}
	});
}
   
function handleListRender(rlistdata) {
	var hstr = "";
	$.each(rlistdata,function(n,v) {
		hstr += "<tr>";
		hstr += "<td>"+v.name+"</td>";
		hstr += "<td>"+v.status+"</td>";
		hstr += "<td>"+v.workModel+"</td>";
		hstr += "<td>"+v.iP+"</td>";
		hstr += "<td>"+v.port+"</td>";
		hstr += "<td>"+v.typeName+"</td>";
		hstr += "<td>"+v.mess+"</td>";
		hstr += "</tr>";
	});
	$("#example tbody").html(hstr);
}
listDevice();
</script>

</body>
</html>
