<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>设备状态</title>
    <div data-th-replace="common/cssmng.html"></div>
    <!--Data Tables -->
    <link data-th-href="@{/assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css">
    <link data-th-href="@{/assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css">
    <style type="text/css">
        .row{
            margin:0;
        }
        .card-body{
            padding: 0rem;
        }
    </style>
</head>
<body>


  <!-- Start wrapper-->
  <div id="wrapper">

     <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header"><i class="fa fa-table"></i> 站点设备状态</div>
            <div class="card-body">
              <div class="table-responsive">
              <table id="example" class="table table-bordered">
                <thead>
                    <tr>
                        <th>设备名称</th>
                        <th>在线状态</th>
                        <th>工作模式</th>
                        <th>IP地址</th>
                        <th>通信端口</th>
                        <th>类别</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>宇视1号球机</td>
                        <td>在线</td>
                        <td>录像中</td>
                        <td>192.168.1.12</td>
                        <td>80</td>
                        <td>室内监控球机</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
	
<div data-th-replace="common/jsmng.html"></div>

<script>
$(document).ready(function() {
	// $('#default-datatable').DataTable();
	
});
   
function listDevice() {
	var reqParam = {};
  	$.ajax({
    	type: "post",
    	contentType: "application/json;charset=UTF-8",
    	url: "/smart-house/device/list",
    	data: JSON.stringify(reqParam),
    	dataType: "json",
    	success: function (r) {
      		if (r.code === 0) {
        		handleListRender(r.msg);
        		var table = $('#example').DataTable( {
        			lengthChange: false,
        			bFilter: false, //搜索栏
                    //增加翻页按钮中文化
                    "oLanguage": {
                        "sLengthMenu": "每页显示 _MENU_ 条记录",
                        "sZeroRecords": "对不起，查询不到任何相关数据",
                        "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_条记录",
                        "sInfoEmpty": "找不到相关数据",
                        "sInfoFiltered": "数据表中共为 _MAX_ 条记录)",
                        "sProcessing": "正在加载中...",
                        "sSearch": "搜索",
                        "oPaginate": {
                            "sFirst": "第一页",
                            "sPrevious":" 上一页 ",
                            "sNext": " 下一页 ",
                            "sLast": " 最后一页 "
                        },
                    }
        		});
        		table.buttons().container().appendTo( '#example_wrapper .col-md-6:eq(0)');
			} else {
		        alert(r.msg);
		    }
    	},
    	error: function (XMLhttpRequest, textStatus, errorThrown) {
      		alert(XMLhttpRequest.readyState+","+XMLhttpRequest.status+","+XMLhttpRequest.statusText+","+textStatus+","+errorThrown);
    	}
	});
}
   
function handleListRender(rlistdata) {
	var hstr = "";
	$.each(rlistdata,function(n,v) {
		hstr += "<tr>";
		hstr += "<td>"+v.name+"</td>";
		hstr += "<td>"+v.status+"</td>";
		hstr += "<td>"+v.workModel+"</td>";
		hstr += "<td>"+v.ip+"</td>";
		hstr += "<td>"+v.port+"</td>";
		hstr += "<td>"+v.typeName+"</td>";
		hstr += "<td>"+v.mess+"</td>";
		hstr += "</tr>";
	});
	$("#example tbody").html(hstr);
}
listDevice();
</script>

</body>
</html>
