<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>安防实时监控</title>
  <div data-th-replace="common/cssfile.html"></div>
  <style type="text/css">
    .row{
      margin:0;
    }
  </style>
</head>

<body onbeforeunload="Index.destory_activex();">
<div id="errormsg"></div>
<!-- Start wrapper-->
<div id="wrapper">
  <div class="row Monitor">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-2 col-md-4  model_Left">
          <div data-th-replace="common/ControlList.html"/>

          <div class="Console Line">
            <label>云台控制：</label>
            <div class="Circular">
              <div class="Cos_l" id="_plugin_trl_presetul">
                <button class="butA" id="turnUP"><i class="fa fa-caret-up"></i></button>
                <button class="butB" id="turnL"><i class="fa fa-caret-left"></i></button>
                <button class="butC" id="turnR"><i class="fa fa-caret-right"></i></button>
                <button class="butD" id="turnDN"><i class="fa fa-caret-down"></i></button>
                <button class="butE" id="turnSTOP"><i class="fa fa-circle"></i></button>
              </div>
              <div class="Cos_r">
                <div class="COr">
                  <label>焦距:</label>
                  <div>
                    <span class="fa fa-plus-circle"></span>
                    <input type="text" placeholder="1">
                    <span class="fa fa-minus-circle"></span>
                  </div>
                </div>
                <div class="COr">
                  <label>焦点:</label>
                  <div>
                    <span class="fa fa-plus-circle"></span>
                    <input type="text" placeholder="1">
                    <span class="fa fa-minus-circle"></span>
                  </div>
                </div>
                <div class="COr">
                  <label>光圈:</label>
                  <div>
                    <span class="fa fa-plus-circle"></span>
                    <input type="text" placeholder="1">
                    <span class="fa fa-minus-circle"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="ColorA">
            <label>色彩调节：</label>
            <div class="col_con">
              <label for="">亮度:</label>
              <div class="Col_IN"><input type="text" id="range_01" value="" name="range" /></div>
            </div>
            <div class="col_con">
              <label for="">对比度:</label>
              <div class="Col_IN"><input type="text" id="range_011" value="" name="range" /></div>
            </div>
            <div class="col_con">
              <label for="">饱和度:</label>
              <div class="Col_IN"><input type="text" id="range_012" value="" name="range" /></div>
            </div>

          </div>
        </div>

        <div class="col-lg-10 col-md-8 model_Right">
          <div data-th-replace="common/UniviewCtrlWin.html"></div>
          <div class="bg-transparent border-0 mRc">
            <div class="tab-content">
              <div class="ocxStyle">
                <div id="playerContainer"></div>
              </div>
              <i class="fa fa-chevron-circle-left ileft"></i>
              <i class="fa fa-chevron-circle-right iRight"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-th-replace="common/javascriptfile.html" ></div>
<script data-th-inline="javascript">
  function loadVideoCtrlList() {
    var reqParam = {};
    $.ajax({
      type: "post",
      contentType: "application/json;charset=UTF-8",
      url: "/smart-house/video/list",
      data: JSON.stringify(reqParam),
      dataType: "json",
      success: function (r) {
        if (r.code === 0) {
          var hstr = "";
          $.each(r.msg,function(n,v) {
            hstr += "<a class='list-group-item' onclick='Index.selectedDevChannel("+v.channelID+", this, "+v.type+");'><i class='fa fa-inbox mr-2'></i>"+v.name+"</a>";
          });
          $("#_plugin_ctrl_list").html(hstr);
        } else {
          alert(r.msg);
        }
      },
      error: function (XMLhttpRequest, textStatus, errorThrown) {
        alert(XMLhttpRequest.readyState+","+XMLhttpRequest.status+","+XMLhttpRequest.statusText+","+textStatus+","+errorThrown);
      }
    });
  }

  loadVideoCtrlList();

</script>
</body>
</html>
