<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>网络信息操作</title>
  <div data-th-replace="common/cssmng.html"></div>
  <!--Data Tables -->
  <link data-th-href="@{/assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css">
  <link data-th-href="@{/assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css">
  <style type="text/css">
	
  </style>
</head>
<body>


<!-- Start wrapper-->
<div id="wrapper" class="Basic Netw">

  <!-- 数据上传信息配置-->
  <div class="row BasCon">
    <div class="locaName"><i class="fa fa-pie-chart"></i><label>数据上传信息配置</label></div>
    <div class="Lpush"><button data-toggle="modal" data-target="#_plugin_modal_server_node_add"><i class="fa fa-plus"></i></button></div>
    <div class="col-lg-12 net_con">
      <table class="table table-bordered table-sm" id="_nt_server_table">
        <thead>
        <tr>
          <th scope="col">设备名称</th>
          <th scope="col">IP地址</th>
          <th scope="col">通信端口</th>
          <th scope="col">备注</th>
          <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

  <!-- 监控设备信息配置-->
  <div class="row BasCon">
    <div class="locaName"><i class="fa fa-video-camera"></i><label>监控设备信息配置</label></div>
    <div class="Lpush"><button  data-toggle="modal" data-target="#Deviceadd"><i class="fa fa-plus"></i></button></div>
    <div class="col-lg-12 net_con">
      <table class="table table-bordered table-sm" id="_nt_video_table">
        <thead>
        <tr>
          <th scope="col">设备名称</th>
          <th scope="col">通道</th>
          <th scope="col">IP地址</th>
          <th scope="col">通信端口</th>
          <th scope="col">类别</th>
          <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

  <!-- 能见度相机信息配置-->
  <div class="row BasCon">
    <div class="locaName"><i class="fa fa-photo"></i><label>能见度相机信息配置</label></div>
    <div class="Lpush"><button  data-toggle="modal" data-target="#_plugin_modal_camera_info_add"><i class="fa fa-plus"></i></button></div>
    <div class="col-lg-12 net_con">
      <table class="table table-bordered table-sm" id="_nt_camera_table">
        <thead>
        <tr>
          <th scope="col">设备名称</th>
          <th scope="col">设备状态</th>
          <th scope="col">IP地址</th>
          <th scope="col">通信端口</th>
          <th scope="col">类别</th>
          <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>


  <div class="col-lg-4">
    <!-- 数据上传信息配置-编辑 Modal -->
    <div data-th-replace="common/ServerNodePlugin.html"/>
    <!-- 数据上传信息配置-编辑 Modal -->
    <div data-th-replace="common/CameraInfoPlugin.html"/>
    <!-- 监控设备信息配置-编辑 Modal -->
    <div data-th-replace="common/VideoInfoPlugin.html"/>
  </div>
</div>

<div data-th-replace="common/jsmng.html"></div>

<script>
  function deviceControl() {
    var reqParam = {};
    $.ajax({
      type: "post",
      contentType: "application/json;charset=UTF-8",
      url: "/smart-house/device/network",
      data: JSON.stringify(reqParam),
      dataType: "json",
      success: function (r) {
        if (r.code === 0) {
          // alert(JSON.stringify(r));
          handleServerNodeRender(r.server);
          handleCameraNodeRender(r.camera);
          handleVideoNodeRender(r.video);
        } else {
          alert(r.msg);
        }
      },
      error: function (XMLhttpRequest, textStatus, errorThrown) {
        alert(XMLhttpRequest.readyState+","+XMLhttpRequest.status+","+XMLhttpRequest.statusText+","+textStatus+","+errorThrown);
      }
    });
  }

  function handleServerNodeRender(rlistdata) {
    var hstr = "";
    $.each(rlistdata,function(n,v) {
      hstr += "<tr>" +
          "<th scope=\"row\">"+v.name+"</th>" +
          "<td>"+v.ip+"</td>" +
          "<td>"+v.port+"</td>" +
          "<td>"+v.mess+"</td>" +
          "<td>" +
          "<button data-toggle=\"modal\" data-target=\"#_plugin_modal_server_node_edit\"><i class=\"fa fa-edit\"></i></button>" +
          "<button onclick=\"deleteNode('serverNode',"+n+");\"><i class=\"fa fa-trash-o\"></i></button>" +
          "</td></tr>";
    });
    $("#_nt_server_table tbody").html(hstr);
  }

  deviceControl();
  
  function switchUri(id) {
	  var uri;
      switch (id) {
          case "serverNode":
        	  uri = "/smart-house/device/server/del";
              break;
          case "cameraNode":
        	  uri = "/smart-house/device/server/del";
              break;
      }
      return uri;
  }

  function switchHtmlRender(id, r) {
    switch (id) {
      case "serverNode":
        handleServerNodeRender(r.server);
        break;
      case "cameraNode":
        handleCameraNodeRender(r.camera);
        break;
    }
  }
  
  function deleteNode(id, cursor) {
	  $.ajax({
        type: "post",
        url: switchUri(id),
        data: {
            "cursor": cursor+1
        },
        dataType: "json",
        success: function (r) {
            if (r.code === 0) {
              switchHtmlRender(id, r)
            } else {
                alert(r.msg);
            }
        }
    });
  }
  
  $("#_plugin_modal_server_node_add").on("show.bs.modal", function () {
	  $("#_plugin_modal_server_node_add input[type='text']").val("");
	  $("#_plugin_modal_server_node_add_mess").val("");
  });
  
  $("#_plugin_modal_server_node_edit").on("show.bs.modal", function () {
	  // 执行一些动作...
  });
  
  $("#_plugin_modal_server_node_btn_add").on("click", function() {
	  var reqParam = {
		"name": $("#_plugin_modal_server_node_add_name").val(),
		"ip": $("#_plugin_modal_server_node_add_ip").val(),
		"port": $("#_plugin_modal_server_node_add_port").val(),
		"mess": $("#_plugin_modal_server_node_add_mess").val()
	  };
	    $.ajax({
	      type: "post",
	      contentType: "application/json;charset=UTF-8",
	      url: "/smart-house/device/server/add",
	      data: JSON.stringify(reqParam),
	      dataType: "json",
	      success: function (r) {
	        if (r.code === 0) {
	          // alert(JSON.stringify(r));
	          handleServerNodeRender(r.server);
	          //$('#_plugin_modal_server_node_add').modal('show');//手动显示modal
	          $('#_plugin_modal_server_node_add').modal('hide');//手动隐藏modal
	        } else {
	          alert(r.msg);
	        }
	      },
	      error: function (XMLhttpRequest, textStatus, errorThrown) {
	        alert(XMLhttpRequest.readyState+","+XMLhttpRequest.status+","+XMLhttpRequest.statusText+","+textStatus+","+errorThrown);
	      }
	    });
  });
  
  function handleCameraNodeRender(rlistdata) {
	    var hstr = "";
	    $.each(rlistdata, function (n, v) {
	      hstr += "<tr>" +
	              "<th scope=\"row\">"+v.name+"</th>" +
	              "<td>"+v.status+"</td>" +
	              "<td>"+v.ip+"</td>" +
	              "<td>"+v.port+"</td>" +
	              "<td>"+v.mess+"</td>" +
	              "<td>" +
	              "<button  data-toggle=\"modal\" data-target=\"#_plugin_modal_camera_info_edit\"><i class=\"fa fa-edit\"></i></button>" +
	              "<button><i class=\"fa fa-trash-o\"></i></button>" +
	              "</td></tr>";
	    });
	    $("#_nt_camera_table tbody").html(hstr);
	  }

	  function handleVideoNodeRender(rlistdata) {
	    var hstr = "";
	    $.each(rlistdata, function (n, v) {
	      hstr += "<tr>" +
	              "<th scope=\"row\">"+v.name+"</th>" +
	              "<td>"+""+"</td>" +
	              "<td>"+v.ip+"</td>" +
	              "<td>"+v.port+"</td>" +
	              "<td>"+v.typeName+"</td>" +
	              "<td>" +
	              "<button  data-toggle=\"modal\" data-target=\"#Device\"><i class=\"fa fa-edit\"></i></button>" +
	              "<button><i class=\"fa fa-trash-o\"></i></button>" +
	              "</td></tr>";
	    });
	    $("#_nt_video_table tbody").html(hstr);
	  }
  
  $("#_plugin_modal_camera_info_edit").on("show.bs.modal", function () {
	  // 执行一些动作...
  });
  
  $("#Device").on("show.bs.modal", function () {
	  // 执行一些动作...
  });
</script>

</body>
</html>
