<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>网络信息操作</title>
  <!--favicon-->
  <link rel="icon" th:href="@{/assets/images/favicon.ico}" type="image/x-icon">
  <!--Select Plugins-->
  <link data-th-href="@{/assets/plugins/select2/css/select2.min.css}" rel="stylesheet" type="text/css"/>
  <!--inputtags-->
  <link data-th-href="@{/assets/plugins/inputtags/css/bootstrap-tagsinput.css}" rel="stylesheet" type="text/css"/>
  <!--multi select-->
  <link data-th-href="@{/assets/plugins/jquery-multi-select/multi-select.css}" rel="stylesheet" type="text/css">
  <!--Bootstrap Datepicker-->
  <link data-th-href="@{/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet" type="text/css">
  <!--Touchspin-->
  <link data-th-href="@{/assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.css}" rel="stylesheet" type="text/css">
  <!-- simplebar CSS-->
  <link data-th-href="@{/assets/plugins/simplebar/css/simplebar.css}" rel="stylesheet" type="text/css"/>
  <!-- Bootstrap core CSS-->
  <link data-th-href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
  <!-- animate CSS-->
  <link data-th-href="@{/assets/css/animate.css}" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link data-th-href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css"/>
  <!-- Sidebar CSS-->
  <link data-th-href="@{/assets/css/sidebar-menu.css}" rel="stylesheet" type="text/css"/>
  <!-- Custom Style-->
  <link data-th-href="@{/assets/css/app-style.css}" rel="stylesheet" type="text/css"/>
  <!-- 2019/7/9-->
  <link data-th-href="@{/assets/css/style.css}" rel="stylesheet" type="text/css"/>

  <!--Data Tables -->
  <link data-th-href="@{/assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css">
  <link data-th-href="@{/assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css">

  <style type="text/css">

  </style>
</head>
<body>


  <!-- Start wrapper-->
  <div id="wrapper" class="Basic Netw">

    <!-- 数据上传信息配置-->
    <div class="row BasCon">
     <div class="locaName"><i class="fa fa-pie-chart"></i><label>数据上传信息配置</label></div>
     <div class="Lpush"><button data-toggle="modal" data-target="#largesizemodaladd"><i class="fa fa-plus"></i></button></div>
     <div class="col-lg-12 net_con">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th scope="col">设备名称</th>
            <th scope="col">IP地址</th>
            <th scope="col">通信端口</th>
            <th scope="col">备注</th>
            <th scope="col">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">测试服务器</th>
            <td>192.168.1.12</td>
            <td>80</td>
            <td>@</td>
            <td><button  data-toggle="modal" data-target="#largesizemodal"><i class="fa fa-edit"></i></button></td>
          </tr>
          <tr>
            <th scope="row">省中心站</th>
            <td>192.168.1.12</td>
            <td>80</td>
            <td></td>
            <td><button data-toggle="modal" data-target="#largesizemodal"><i class="fa fa-edit"></i></button></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <!-- 监控设备信息配置-->
<div class="row BasCon">
   <div class="locaName"><i class="fa fa-video-camera"></i><label>监控设备信息配置</label></div>
   <div class="Lpush"><button  data-toggle="modal" data-target="#largesizemodaladd"><i class="fa fa-plus"></i></button></div>
   <div class="col-lg-12 net_con">
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">设备名称</th>
          <th scope="col">通道</th>
          <th scope="col">IP地址</th>
          <th scope="col">通信端口</th>
          <th scope="col">类别</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">NVR</th>
          <td></td>
          <td>192.168.1.12</td>
          <td>80</td>
          <td>硬盘录像机</td>
          <td><button  data-toggle="modal" data-target="#largesizemodal"><i class="fa fa-edit"></i></button></td>
        </tr>
        <tr>
          <th scope="row">宇视1号球机</th>
          <td></td>
          <td>192.168.1.12</td>
          <td>80</td>
          <td>室内监控球机</td>
          <td><button  data-toggle="modal" data-target="#largesizemodal"><i class="fa fa-edit"></i></button></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
<!-- 能见度相机信息配置-->
<div class="row BasCon">
 <div class="locaName"><i class="fa fa-photo"></i><label>能见度相机信息配置</label></div>
 <div class="Lpush"><button  data-toggle="modal" data-target="#largesizemodaladd"><i class="fa fa-plus"></i></button></div>
 <div class="col-lg-12 net_con">
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th scope="col">设备名称</th>
        <th scope="col">设备状态</th>
        <th scope="col">IP地址</th>
        <th scope="col">通信端口</th>
        <th scope="col">类别</th>
        <th scope="col">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1号机</th>
        <td>在线</td>
        <td>192.168.1.12</td>
        <td>80</td>
        <td>能见度工业相机</td>
        <td><button  data-toggle="modal" data-target="#largesizemodal"><i class="fa fa-edit"></i></button></td>
      </tr>

    </tbody>
  </table>
</div>
</div>


<div class="col-lg-4">

  <!-- 数据上传信息配置-编辑 Modal -->
<div class="modal fade" id="largesizemodal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">数据上传信息配置-编辑</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group row">
          <label  class="col-sm-2 col-form-label text-right">设备名称:</label>
          <div class="col-sm-10 input-group-sm">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label text-right">IP地址:</label>
          <div class="col-sm-10 input-group-sm">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label text-right">通信端口:</label>
          <div class="col-sm-10 input-group-sm">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label text-right">备注:</label>
          <div class="col-sm-10 input-group-sm">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>

      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-sm" data-dismiss="modal"><i class="fa fa-times"></i> 取消</button>
        <button type="button" class="btn btn-sm btny"><i class="fa fa-check-square-o"></i> 保存</button>
      </div>
    </div>
  </div>
</div>

  <!-- 数据上传信息配置-新增 Modal -->
<div class="modal fade" id="largesizemodaladd">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">数据上传信息配置-新增</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group row">
          <label  class="col-sm-2 col-form-label text-right">设备名称:</label>
          <div class="col-sm-10 input-group-sm">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label text-right">IP地址:</label>
          <div class="col-sm-10 input-group-sm">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label text-right">通信端口:</label>
          <div class="col-sm-10 input-group-sm">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label text-right">备注:</label>
          <div class="col-sm-10 input-group-sm">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>

      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-sm" data-dismiss="modal"><i class="fa fa-times"></i> 取消</button>
        <button type="button" class="btn btn-sm btny"><i class="fa fa-check-square-o"></i> 保存</button>
      </div>
    </div>
  </div>
</div>

</div>
</div>



<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/popper.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<!-- simplebar js -->
<script src="../assets/plugins/simplebar/js/simplebar.js"></script>
<!-- sidebar-menu js -->
<script src="../assets/js/sidebar-menu.js"></script>
<!-- Custom scripts -->
<script src="../assets/js/app-script.js"></script>
<script src="../assets/js/political_WeCall.js"></script>

<!--Data Tables js-->
<script src="../assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
<script src="../assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js"></script>



</body>
</html>
