<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>安防视频回放</title>
  <!--favicon-->
  <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
  <!--Select Plugins-->
  <link href="../assets/plugins/select2/css/select2.min.css" rel="stylesheet"/>
  <!--inputtags-->
  <link href="../assets/plugins/inputtags/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <!--Ion Range Slider-->
  <link href="../assets/plugins/ion-rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css"/>
  <link href="../assets/plugins/ion-rangeslider/css/ion.rangeSlider.skinHTML5.css" rel="stylesheet" type="text/css"/>
  <!--multi select-->
  <link href="../assets/plugins/jquery-multi-select/multi-select.css" rel="stylesheet" type="text/css">
  <!--Bootstrap Datepicker-->
  <link href="../assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
  <!--Touchspin-->
  <link href="../assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.css" rel="stylesheet" type="text/css">
  <!-- simplebar CSS-->
  <link href="../assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
  <!-- Bootstrap core CSS-->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- animate CSS-->
  <link href="../assets/css/animate.css" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="../assets/css/icons.css" rel="stylesheet" type="text/css"/>
  <!-- Sidebar CSS-->
  <link href="../assets/css/sidebar-menu.css" rel="stylesheet"/>
  <!-- Custom Style-->
  <link href="../assets/css/app-style.css" rel="stylesheet"/>
  <!-- 2019/7/9-->
  <link href="../assets/css/style.css" rel="stylesheet" />
</head>
<style type="text/css">
.row{
  margin:0;
}

</style>
<body>


  <!-- Start wrapper-->
  <div id="wrapper">
    <div class="row Monitor">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-2 col-md-4  model_Left">
            <div class="shadow-none Line">
              <label>监控点:</label>
              <div class="list-group shadow-none">
                <a href="javascript:void();" class="list-group-item active"><i class="fa fa-inbox mr-2"></i>监控点一</a>
                <a href="javascript:void();" class="list-group-item"><i class="fa fa-star-o mr-2"></i>监控点二</a>
                <a href="javascript:void();" class="list-group-item"><i class="fa fa-file-text-o mr-2"></i>监控点三</a>
              </div>
            </div>
            <div class="Line">
              <label>历史视频:</label>
              <div id="inline-datepicker"></div>
              <input type="text" class="form-control"  placeholder="查 找">
            </div>

            <div class="Location">
              <label>回放时间点定位:</label>
              <div id="inline-datepicker"></div>
              <div class="input-group">
              <input type="text" class="form-control">：
              <input type="text" class="form-control">：
              <input type="text" class="form-control">
              <button type="button" class="btn btn-primary waves-effect waves-light m-1">确认</button>
            </div>
            </div>
            
           
            
          </div>

          <div class="col-lg-10 col-md-8 model_Right">
            <div class="mRt">
              <div class="mRtab">
                <label>视窗数量：</label>
                <ul class="nav nav-tabs top-icon">
                  <li class="nav-item nav-item1">
                    <a class="nav-link active" data-toggle="tab" href="#tabe-10"><i class="fa fa-square"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabe-11"><i class="ti-layout-grid2-alt"></i></a>
                  </li>
                  <li class="nav-item nav-item2">
                    <a class="nav-link" data-toggle="tab" href="#tabe-12"><i class="ti-layout-grid3-alt"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="bg-transparent border-0 mRc">
              <div class="tab-content">
                <div id="tabe-10" class="tab-pane active">
                  <div class="row">
                    <div class="col-md-12 col-xs-12 mRimg mRimgA">
                      <span class="fa fa-play-circle"></span>
                      <img src="../assets/images/m2.jpg" width="100%">
                      <i class="fa fa-chevron-circle-left ileft"></i>
                      <i class="fa fa-chevron-circle-right iRight"></i>
                    </div>

                  </div>
                </div>
                <div id="tabe-11" class="container-fluid tab-pane fade">
                  <div class="row">
                    <div class="col-md-6 col-xs-6 mRimg">
                      <span class="fa fa-play-circle"></span>
                      <img src="../assets/images/m2.jpg" width="100%">
                    </div>
                    <div class="col-md-6 col-xs-6 mRimg">
                      <span class="fa fa-play-circle"></span>
                      <img src="../assets/images/m2.jpg" width="100%">
                    </div>
                    <div class="col-md-6 col-xs-6 mRimg">
                      <span class="fa fa-play-circle"></span>
                      <img src="../assets/images/m2.jpg" width="100%">
                    </div>
                    <div class="col-md-6 col-xs-6 mRimg">
                      <span class="fa fa-play-circle"></span>
                      <img src="../assets/images/m2.jpg" width="100%">
                    </div>
                    <i class="fa fa-chevron-circle-left ileft"></i>
                    <i class="fa fa-chevron-circle-right iRight"></i>
                  </div>
                </div>
                <div id="tabe-12" class="container-fluid tab-pane fade">
                  <div class="row">
                    <div class="col-md-4 col-xs-4 mRimg mRimgB">
                      <span class="fa fa-play-circle"></span>
                      <img src="../assets/images/m2.jpg" width="100%">
                    </div>
                    <div class="col-md-4 col-xs-4 mRimg mRimgB">
                      <span class="fa fa-play-circle"></span>
                      <img src="../assets/images/m2.jpg" width="100%">
                    </div>
                    <div class="col-md-4 col-xs-4 mRimg mRimgB">
                      <span class="fa fa-play-circle"></span>
                      <img src="../assets/images/m2.jpg" width="100%">
                    </div>
                    <div class="col-md-4 col-xs-4 mRimg mRimgB">
                      <span class="fa fa-play-circle"></span>
                      <img src="../assets/images/m2.jpg" width="100%">
                    </div>
                    <div class="col-md-4 col-xs-4 mRimg mRimgB">
                      <span class="fa fa-play-circle"></span>
                      <img src="../assets/images/m2.jpg" width="100%">
                    </div>
                    <div class="col-md-4 col-xs-4 mRimg mRimgB">
                      <span class="fa fa-play-circle"></span>
                      <img src="../assets/images/m2.jpg" width="100%">
                    </div>
                    <div class="col-md-4 col-xs-4 mRimg mRimgB">
                      <span class="fa fa-play-circle"></span>
                      <img src="../assets/images/m2.jpg" width="100%">
                    </div>
                    <div class="col-md-4 col-xs-4 mRimg mRimgB">
                      <span class="fa fa-play-circle"></span>
                      <img src="../assets/images/m2.jpg" width="100%">
                    </div>
                    <div class="col-md-4 col-xs-4 mRimg mRimgB">
                      <span class="fa fa-play-circle"></span>
                      <img src="../assets/images/m2.jpg" width="100%">
                    </div>
                    <i class="fa fa-chevron-circle-left ileft"></i>
                    <i class="fa fa-chevron-circle-right iRight"></i>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/popper.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>

  <script src="../assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.js"></script>
  <script src="../assets/plugins/bootstrap-touchspin/js/bootstrap-touchspin-script.js"></script>

  <script src="../assets/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
  <script src="../assets/plugins/ion-rangeslider/js/range-slider-script.js"></script>
  <!--Bootstrap Datepicker Js-->
  <script src="../assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <script src="../assets/plugins/bootstrap-datepicker/js/bootstrap-datetimepicker.zh-CN.js"></script>
  <script>
  $( function() {
      $("#inline-datepicker").datepicker
      ({
          autoclose: true,
          todayHighlight: true,
          /*汉化*/
          language: "zh-CN",
          /*日期格式*/
          format:"yyyy-mm-dd"       });
  })
</script>
  </body>
  </html>
