<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>能见度拍照</title>
  <!--favicon-->
  <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
  <!--Select Plugins-->
  <link href="../assets/plugins/select2/css/select2.min.css" rel="stylesheet"/>
  <!--inputtags-->
  <link href="../assets/plugins/inputtags/css/bootstrap-tagsinput.css" rel="stylesheet" />
  <!--multi select-->
  <link href="../assets/plugins/jquery-multi-select/multi-select.css" rel="stylesheet" type="text/css">
  <!--Bootstrap Datepicker-->
  <link href="../assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
  <!--Touchspin-->
  <link href="../assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.css" rel="stylesheet" type="text/css">
  <!-- simplebar CSS-->
  <link href="../assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
  <!-- Bootstrap core CSS-->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- animate CSS-->
  <link href="../assets/css/animate.css" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="../assets/css/icons.css" rel="stylesheet" type="text/css"/>
  <!-- Sidebar CSS-->
  <link href="../assets/css/sidebar-menu.css" rel="stylesheet"/>
  <!-- Custom Style-->
  <link href="../assets/css/app-style.css" rel="stylesheet"/>
  <!-- 2019/7/9-->
  <link href="../assets/css/style.css" rel="stylesheet" />
</head>
<style type="text/css">
.row{
  margin:0;
}

</style>
<body>


  <!-- Start wrapper-->
  <div id="wrapper">

    <div class="row Monitor">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-2 col-md-4  model_Left">
            <!-- <h3 class="headH3">能见度信息</h3> -->
            <div id="inline-datepicker"></div>
          </div>
          <div class="col-lg-10 model_Right">
            <div class="mRt">
              <div class="mRtab">
                <label>视窗数量：</label>
                <ul class="nav nav-tabs top-icon">
                  <li class="nav-item nav-item1">
                    <a class="nav-link active" data-toggle="tab" href="#tabe-10"><i class="fa fa-square"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabe-11"><i class="ti-layout-grid2-alt"></i></a>
                  </li>
                  <li class="nav-item nav-item2">
                    <a class="nav-link" data-toggle="tab" href="#tabe-12"><i class="ti-layout-grid3-alt"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="bg-transparent border-0 mRc">
              <div class="tab-content">
                <div id="tabe-10" class="tab-pane active">
                  <div class="row">
                    <div class="col-md-12 col-xs-12 mRimg mRimgA">
                      
                      <img src="../assets/images/m1.jpg" width="100%">
                      <i class="fa fa-chevron-circle-left ileft"></i>
                      <i class="fa fa-chevron-circle-right iRight"></i>
                    </div>

                  </div>
                </div>
                <div id="tabe-11" class="container-fluid tab-pane fade">
                  <div class="row">
                    <div class="col-md-6 col-xs-6 mRimg">
                      
                      <img src="../assets/images/m1.jpg" width="100%">
                    </div>
                    <div class="col-md-6 col-xs-6 mRimg">
                      
                      <img src="../assets/images/m1.jpg" width="100%">
                    </div>
                    <div class="col-md-6 col-xs-6 mRimg">
                      
                      <img src="../assets/images/m1.jpg" width="100%">
                    </div>
                    <div class="col-md-6 col-xs-6 mRimg">
                      
                      <img src="../assets/images/m1.jpg" width="100%">
                    </div>
                    <i class="fa fa-chevron-circle-left ileft"></i>
                    <i class="fa fa-chevron-circle-right iRight"></i>
                  </div>
                </div>
                <div id="tabe-12" class="container-fluid tab-pane fade">
                  <div class="row">
                    <div class="col-md-4 col-xs-4 mRimg mRimgB">
                      <img src="../assets/images/m1.jpg" width="100%">
                    </div>
                    <div class="col-md-4 col-xs-4 mRimg mRimgB">
                      
                      <img src="../assets/images/m1.jpg" width="100%">
                    </div>
                    <div class="col-md-4 col-xs-4 mRimg mRimgB">
                      
                      <img src="../assets/images/m1.jpg" width="100%">
                    </div>
                    <div class="col-md-4 col-xs-4 mRimg mRimgB">
                      
                      <img src="../assets/images/m1.jpg" width="100%">
                    </div>
                    <div class="col-md-4 col-xs-4 mRimg mRimgB">
                      
                      <img src="../assets/images/m1.jpg" width="100%">
                    </div>
                    <div class="col-md-4 col-xs-4 mRimg mRimgB">
                      
                      <img src="../assets/images/m1.jpg" width="100%">
                    </div>
                    <div class="col-md-4 col-xs-4 mRimg mRimgB">
                      
                      <img src="../assets/images/m1.jpg" width="100%">
                    </div>
                    <div class="col-md-4 col-xs-4 mRimg mRimgB">
                      
                      <img src="../assets/images/m1.jpg" width="100%">
                    </div>
                    <div class="col-md-4 col-xs-4 mRimg mRimgB">
                      
                      <img src="../assets/images/m1.jpg" width="100%">
                    </div>
                    <i class="fa fa-chevron-circle-left ileft"></i>
                    <i class="fa fa-chevron-circle-right iRight"></i>
                  </div>
                </div>

              </div>

            </div>
          </div>



        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript-->
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/popper.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <!-- simplebar js -->
  <script src="../assets/plugins/simplebar/js/simplebar.js"></script>
  <!-- sidebar-menu js -->
  <script src="../assets/js/sidebar-menu.js"></script>
  <!-- Custom scripts -->
  <script src="../assets/js/app-script.js"></script>
  <script src="../assets/js/political_WeCall.js"></script>
  <!--Bootstrap Touchspin Js-->
  <script src="../assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.js"></script>
  <script src="../assets/plugins/bootstrap-touchspin/js/bootstrap-touchspin-script.js"></script>
  <!--Select Plugins Js-->
  <script src="../assets/plugins/select2/js/select2.min.js"></script>
  <!--Inputtags Js-->
  <script src="../assets/plugins/inputtags/js/bootstrap-tagsinput.js"></script>

  <!--Bootstrap Datepicker Js-->
  <script src="../assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <script src="../assets/plugins/bootstrap-datepicker/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
  $( function() {
      $("#inline-datepicker").datepicker
      ({
          autoclose: true,
          todayHighlight: true,
          /*汉化*/
          language: "zh-CN",
          /*日期格式*/
          format:"yyyy-mm-dd"       });
  })
</script>


</body>
</html>
