<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>能见度拍照</title>
  <div data-th-replace="common/cssmng.html"></div>
  <style type="text/css">
    .row{
      margin:0;
    }
  </style>
</head>

<body>

  <!-- Start wrapper-->
  <div id="wrapper">

    <div class="row Monitor">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-2 col-md-4  model_Left">
            <div class="Line">
              <label>历史图片:</label>
              <div id="_vily_inline_dp_plugin"></div>
              <input type="hidden" id="_history_date_time_start" />
            </div>
          </div>
          <div class="col-lg-10 model_Right">
            <div class="mRt">
              <div class="mRtab">
                <label>视窗数量：</label>
                <ul class="nav nav-tabs top-icon">
                  <li class="nav-item nav-item1">
                    <a class="nav-link active" onclick='switchPhotoWin(1, "#tabe-10", this);'><i class="fa fa-square"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" onclick='switchPhotoWin(4, "#tabe-11", this);'><i class="ti-layout-grid2-alt"></i></a>
                  </li>
                  <li class="nav-item nav-item2">
                    <a class="nav-link" onclick='switchPhotoWin(9, "#tabe-12", this);'><i class="ti-layout-grid3-alt"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="bg-transparent border-0 mRc">
              <div class="tab-content">
                <div id="tabe-10" class="tab-pane active">
                  
                </div>
                <div id="tabe-11" class="container-fluid tab-pane fade">
                  
                </div>
                <div id="tabe-12" class="container-fluid tab-pane fade">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" id="visibility_pagesize" value="1" />
    <input type="hidden" id="visibility_currpage" value="1" />
    <input type="hidden" id="visibility_tab" value="#tabe-10"/>
    <input type="hidden" id="visibility_total_page" value="0"/>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script data-th-src="@{/assets/js/jquery.min.js}"></script>
  <script data-th-src="@{/assets/js/popper.min.js}"></script>
  <script data-th-src="@{/assets/js/bootstrap.min.js}"></script>
  <!-- simplebar js -->
  <script data-th-src="@{/assets/plugins/simplebar/js/simplebar.js}"></script>
  <!-- sidebar-menu js -->
  <script data-th-src="@{/assets/js/sidebar-menu.js}"></script>
  <!-- Custom scripts -->
  <script data-th-src="@{/assets/js/app-script.js}"></script>
  <script data-th-src="@{/assets/js/political_WeCall.js}"></script>
  <!--Bootstrap Touchspin Js-->
  <script data-th-src="@{/assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.js}"></script>
  <script data-th-src="@{/assets/plugins/bootstrap-touchspin/js/bootstrap-touchspin-script.js}"></script>
  <!--Select Plugins Js-->
  <script data-th-src="@{/assets/plugins/select2/js/select2.min.js}"></script>
  <!--Inputtags Js-->
  <script data-th-src="@{/assets/plugins/inputtags/js/bootstrap-tagsinput.js}"></script>

  <!--Bootstrap Datepicker Js-->
  <script data-th-src="@{/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>

  <script data-th-src="@{/assets/plugins/bootstrap-datepicker/js/bootstrap-datetimepicker.zh-CN.js}"></script>
<script>
  $(function() {
    $("#_vily_inline_dp_plugin").datepicker({
      autoclose: true,
      todayHighlight: true,
      /*汉化*/
      language: "zh-CN",
      format:"yyyy-mm-dd"
    });
    $("#_vily_inline_dp_plugin").on('changeDate', function() {
      $("#_history_date_time_start").val($("#_vily_inline_dp_plugin").datepicker("getFormattedDate"));
      $("#visibility_currpage").val(1);
      listPhoto();
    });
    $("#_vily_inline_dp_plugin").datepicker("setDate", new Date());
  });

  function previewPage() {
    var currPage = Number($("#visibility_currpage").val().trim());
    if(currPage - 1 < 1) {
      alert("亲，前方高能，已无数据展示，请知；");
      return;
    }
    $("#visibility_currpage").val(currPage-1);
    listPhoto();
  }

  function nextPage() {
    var currPage = Number($("#visibility_currpage").val().trim());
    var totalPage = Number($("#visibility_total_page").val().trim());
    if(currPage +1 > totalPage) {
      alert("亲，后方高能，已无数据展示，请知；");
      return;
    }
    $("#visibility_currpage").val(currPage + 1);
    listPhoto();
  }

  function go2Page(page_) {
    var page = page_;
    if(!page_) {
      page = Number($("#vb_page_ctrl_id_").val().trim());
    }
    var totalPage = Number($("#visibility_total_page").val().trim());
    if(page < 1 || page > totalPage) {
      alert("亲，已无数据展示，请知；");
      return;
    }

    if(page > totalPage) {
      alert("亲，已无数据展示，请知；");
      return;
    }
    $("#visibility_currpage").val(page);
    listPhoto();
  }

  function switchPhotoWin(pageSize, htmlId, winObj) {
    debugger;
    $(".nav-link").removeClass("active");
    $(".tab-pane").removeClass("active show");
    $("#visibility_tab").val(htmlId);

    $(htmlId).addClass("active show");
    $(winObj).addClass("active");

    $("#visibility_pagesize").val(pageSize);
    $("#visibility_currpage").val(1);

    listPhoto();
  }

  function getPrevPath(pathname) {
    var dateDirectory = $("#_history_date_time_start").val();
    return dateDirectory + "/" + pathname;
  }

  function listPhoto() {
    var pageSize = $("#visibility_pagesize").val().trim();
    var currPage = $("#visibility_currpage").val().trim();
    var reqParam = {
      "queryDate": $("#_history_date_time_start").val(),
      "pageSize": pageSize,
      "currPage": currPage
    };
    // alert(JSON.stringify(reqParam));
    $.ajax({
      type: "post",
      contentType: "application/json;charset=UTF-8",
      url: "/smart-house/photo/list",
      data: JSON.stringify(reqParam),
      dataType: "json",
      success: function (r) {
        if (r.code === 0 && r.msg.list.length>0) {
          // alert(JSON.stringify(r.msg));
          $("#visibility_currpage").val(r.msg.currPage);
          $("#visibility_total_page").val(r.msg.totalPage);
          handleListRender(r.msg.list);
        } else {
          // alert(r.msg);
          var tabId = $("#visibility_tab").val().trim();
          $(tabId).html("该日期无能见度照片");
        }
      },
      error: function (XMLhttpRequest, textStatus, errorThrown) {
        alert(XMLhttpRequest.readyState+","+XMLhttpRequest.status+","+XMLhttpRequest.statusText+","+textStatus+","+errorThrown);
      }
    });
  }

  function handleListRender(rlistdata) {
    var currentPageSize_ = Number($("#visibility_currpage").val().trim());
    var totalPageSize_ = Number($("#visibility_total_page").val().trim());
    var hstr = "<div class='row'>";
    var tabId = $("#visibility_tab").val().trim();
    if(tabId === "#tabe-10") {
      $.each(rlistdata,function(n,value){
        hstr += "<div class='col-md-12 col-xs-12 mRimg mRimgA'>";
        hstr += "<img src='/smart-house/showPic/"+getPrevPath(value)+"' width='100%'/>";
        hstr += "</div>";
      });
    } else if (tabId === "#tabe-11") {
      $.each(rlistdata,function(n,value){
        hstr += "<div class='col-md-6 col-xs-6 mRimg'>";
        hstr += "<img src='/smart-house/showPic/"+getPrevPath(value)+"' width='100%'/>";
        hstr += "</div>";
      });
    } else if (tabId === "#tabe-12") {
      $.each(rlistdata,function(n,value){
        hstr += "<div class='col-md-4 col-xs-4 mRimg mRimgB'>";
        hstr += "<img src='/smart-house/showPic/"+getPrevPath(value)+"' width='100%'/>";
        hstr += "</div>";
      });
    }
    // hstr += "<i class='fa fa-chevron-circle-left ileft' onclick='previewPage();'></i>";
    // hstr += "<i class='fa fa-chevron-circle-right iRight' onclick='nextPage();'></i>";
    hstr += "<nav class=\"fenye\">";
    hstr += "<ul class=\"pagination\">";
    hstr += "<li class=\"page-item\"><a class=\"page-link\" href=\"javascript:go2Page(1);\">首页</a></li>";
    hstr += "<li class=\"page-item\"><a class=\"page-link\" href=\"javascript:previewPage();\">上一页</a></li>";
    var renderSizeLink = 0;
    var startLinkPage = 0;
    if(totalPageSize_<=4) {
      startLinkPage = 1;
      renderSizeLink = totalPageSize_;
    } else if(currentPageSize_+4<=totalPageSize_) {
      startLinkPage = currentPageSize_;
      renderSizeLink = 4;
    } else {
      startLinkPage = totalPageSize_ - 3;
      renderSizeLink = 4;
    }
    for(var tt=1; renderSizeLink>0 && tt<=renderSizeLink; tt++) {
      hstr += "<li class=\"page-item\"><a class=\"page-link\" href=\"javascript:go2Page("+startLinkPage+");\">"+startLinkPage+"</a></li>";
      startLinkPage++;
    }
    hstr += "<li class=\"page-item\"><a class=\"page-link\" href=\"javascript:nextPage();\">下一页</a></li>";
    hstr += "<li class=\"page-item\"><a class=\"page-link\" href=\"javascript:go2Page("+totalPageSize_+");\">末页</a></li>";
    hstr += "<li class=\"page-item listLi\">共："+totalPageSize_+" 页</li>, <li class=\"page-item listLi\"> <span>前往：</span> <input type=\"text\" id=\"vb_page_ctrl_id_\"> <span>页</span> <button class=\"btn btn-primary btn-sm\" onclick='go2Page()'>跳转</button> </li>";
    hstr += "</ul>";
    hstr += "</nav>";
    hstr += "</div>";

    $(tabId).html(hstr);
  }

  // listPhoto();
</script>


</body>
</html>
